[tool.poetry]
name = "netext"
version = "0.1.1"
description = "A graph (network) rendering library for the terminal."
authors = ["Malte Klemm <me@malteklemm.de>"]
license = "MIT"
repository = 'https://github.com/mahrz24/netext'
readme = 'README.md'
keywords = ['network', 'graph', 'terminal', 'rich']

[tool.poetry.dependencies]
python = "^3.10"
rich = "^13"
networkx = { extras = ["default"], version = "^3.0" }
grandalf = "^0.7"
bitarray = "^2.6.2"
networkx-stubs = "^0.0.1"
shapely = "^2.0.1"
rtree = "^1.0.1"
cachetools = "^5.3.0"
textual = { version = "^0", optional = true }
plum-dispatch = "^2.1.1"

[tool.poetry.extras]
textual = ["textual"]

[tool.poetry.group.dev.dependencies]
syrupy = "^4.0.1"
jinja2 = "^3.1.2"
scriv = "^1.3.1"
pytest = "^7.1.2"
black = { version = "^22.6.0", allow-prereleases = true }
mkdocstrings = { extras = ["python"], version = "^0.20.0" }
pre-commit = "^2.20.0"
pytest-cov = "^3.0.0"
coverage = { extras = ["toml"], version = "^6.4.2" }
asv = "^0.5.1"
mkdocs-material = "^9.0.5"
importlib-metadata = "*"
ruff = "^0.0.254"
mypy = "^1.3"
textual = { extras = ["dev"], version = "^0.29" }
textual-dev = { extras = ["dev"], version = "^0" }
pyinstrument = "^4.4.0"

[tool.black]
preview = true

[tool.ruff]
line-length = 120
target-version = "py310"

[tool.mypy]
mypy_path = "./stubs"

[tool.scriv]
format = "md"


[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"
