ModalDialog {
    align: center middle;
}

ModalDialog>Widget {
    width: 100;
    height: 80%;
}

#main-container {
    overflow-x: auto;
    overflow-y: auto;
    align: center middle;
}

#node-view {
    overflow-y: auto;
}

#node-view>NodeView {
    height: auto;
}

Graph {
    padding: 1 2;
    height: auto;
    width: auto;
    content-align: center middle;
}

Tree {
    height: auto;
}

#sidebar {
    dock: right;
    width: 70;
    height: 100%;
    overflow-x: auto;
}
