GraphView {
    overflow-x: auto;
    overflow-y: auto;
}

.selected-tool {
    background: red;
}

Statusbar {
    height: 1;
    dock: bottom;
    layer: above
}

Toolbar {
    dock: left;
    width: 7;
}

#sidebar {
    width: 80;
}

GraphInspector {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

NodeInspector {
    height: auto;
}

NodeInspector Vertical {
    height: auto;
}

Toolbar > Button {
    width: 7;
    min-width: 7;
}

.section-title {
    background: gray;
    width: 100%;
    text-align: center;
}

Pretty {
    padding: 1
}
