GraphView {
    overflow-x: auto;
    overflow-y: auto;
}

.selected-tool {
    background: red;
}

Statusbar {
    height: 1;
    dock: bottom;
    layer: above
}

Toolbar {
    dock: left;
    width: 7;
}

#sidebar {
    width: 33%;
}

GraphInspector {
    width: 100%;
}

Toolbar > Button {
    width: 7;
    min-width: 7;
}
